@import '@styles/mixins';
@import '@styles/variables';

.header {
  @include flex-center() {
    height: $header-height;
    margin: $header-margin;
  }

  :global .header_logo {
    position: relative;
  }
}
