@import '@styles/mixins';

.layout {
  @include flex-center(column) {
    min-height: 100%;
    width: 100%;

    main {
      width: 100%;
      // min-h-[calc(100vh-150px)] w-full pt-[60px]
    }
  }
}
