@import 'mixins';
@import 'variables';

/** Declare Font Faces */
@font-face {
  font-family: 'Optima';
  font-style: normal;
  font-weight: normal;
  src: url('../assets//OPTIMA.woff') format('woff');
}

@font-face {
  font-family: 'Optima Italic';
  font-style: normal;
  font-weight: normal;
  src: url('../assets/Optima_Italic.woff') format('woff');
}

@font-face {
  font-family: 'Optima Medium';
  font-style: normal;
  font-weight: normal;
  src: url('../assets/Optima Medium.woff') format('woff');
}

@font-face {
  font-family: 'Optima Bold';
  font-style: normal;
  font-weight: normal;
  src: url('../assets/OPTIMA_B.woff') format('woff');
}

*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Optima, Helvetica, Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Optima Bold';
}

dl,
dd,
p,
pre,
a,
ol,
ul,
figure,
blockquote,
article,
aside {
  margin: 0;
  padding: 0;
}

input[type='text'],
input[type='email'],
input[type='password'],
input[type='submit'] {
  border-width: 0;
  border-style: solid;
}

button {
  border: 0;
  outline: 0;
  cursor: pointer;
}

ol,
ul {
  list-style: none;
}

img {
  position: static !important;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  font-size: map-get($text, 'base');
}

hr {
  margin-top: 4rem;
  margin-bottom: 4rem;
  border: 1px solid #f4f4f4;
}

.text-center {
  text-align: center;
}
.uppercase {
  text-transform: uppercase;
}
.underline {
  text-decoration: underline;
}
.w-full {
  width: 100% !important;
}
.h-full {
  height: 100% !important;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

/** Animation Keyframes **/
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 100;
  }
  100% {
    opacity: 0;
  }
}
